#container {
  width: 1200px;
  margin: auto;
  background: grey;
}

#nav {
  width: 25%;
  float: left;
  background: blue;
  text-align: center;
  padding: 1%;
  margin: 1.5%
}

#header {
  width: 40%;
  height: 80px;
  float: left;
  background: orange;
  text-align: center;
}

#blackline {
  width: 100%;
  background: black;
}

#ad1 {
  float: left;
  width: 30%;
  background: red;
}

#sidebar{
  float: left;
  width: 15%;
  background: magenta;
}

#ad2 {
  float: right;
  width: 30%;
  background: red;
}
